body {
    background-image: url("../assets/background.png");
}

#casino-table {
    background-image: url("../assets/table.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 1200px;
    transform: rotate(90deg);
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    perspective: 1000px;
}

.cards-wrapper {
    transform: rotate(-90deg);
}
.cards {
    width: 125px;
    height: 160px;
    position: relative;
    border: 1px solid black;
    display: flex;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.cards:hover {
    transform: rotateY(180deg);
}

.cards-front, .cards-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-front {
    background-color: rgb(31, 90, 130);
    border-radius: 10px;
}

.cards-back {
    background-color: rgb(0, 249, 112);
    border-radius: 10px;
    transform: rotateY(180deg);
}

/*
#casino-table {
    background-color: #e8cf27;
    width: 1050px;
    height: 600px;
    border: 5px solid black;
    border-radius: 15px 15px 450px 450px;
    border-bottom: 20px solid black;
    border-left: 20px solid black;
    border-right: 20px solid black;
    border-top: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */

/*
#shuffle {
    background-color: white;
    text-align: center;
    font-size: 27px;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    left: 500px;
    bottom: 30px;
    width: 120px;
    height: 60px;
}*/

.buttons-container {
    position: fixed;
    bottom: 30px;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%);
    z-index: 10;
}

#flip {
    pointer-events: auto;
    background-color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
}

#shuffle {
    pointer-events: auto;
    background-color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
}
