/*Make the card flip*/

/*This container*/
#flip_card {
    background-color: transparent;
    width: 100px;
    height: 140px;
    perspective: 1000px;
    display: flex;
}

/*This container is for the front and back side*/
#flip_card_inner {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

/*it does a horizontal flip*/
#flip_card:hover #flip_card_inner {
    transform: rotateY(180deg);
}

/*style the front side*/
#flip_card_front {
    background-color: transparent;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/*Style the back side*/
#flip_card_back {
    background-image: url(../assets/cards/card_back.png);
    background-color: transparent;
    background-size: cover;
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

#flip_card_front img,
#flip_card_back img {
    background-color: transparent;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*button container*/
.button_container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

/*style the buttons*/
button {
    font-size: 50px;
    background-color: #24365F;
    border-radius: 50px;
    border-color: #916B22;
    padding: 10px;
    width: 230px;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

/* Background of the game*/
.game_background {
    background-image: url(../assets/background.png);
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    
} 

/* Styling the table */
.table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* keep content centered */
    justify-content: center;
    row-gap: 1px;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: visible;
}

.table::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/table.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: -1;
}